.home_gitan{
    background-color: rgb(18, 2, 107);
    min-height: calc(100vh - 162px);
}

.h1_home{
    margin: 0;
    color: white;
    text-align: center;
    padding-top: 2rem;
    font-size: 40px;
}

.card_home{
    background: #040468;
    box-shadow:  24px -24px 16px #030348,
             -24px 24px 16px #050588;
    height: 500px;
    border-radius: 15px;
    width: 350px;
}

.container_home{
    display: flex;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2rem;
    justify-content: space-around;
}

.titre_card_home{
    text-align: center;
    border-bottom: 3px solid rgb(255, 255, 255);
    h3{
        color: white;
    }
}

.icon_check{
    color: rgb(0, 218, 0);
    padding-right: 5px;
}

.container_text_card_home{
    padding-top: 1rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.p_check{
    display: flex;
    align-items: center;
    color: white;
}

.button_discord{
    background-color: rgb(4, 4, 104);
    display: flex;
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 1.2rem;
    border-radius: 15px;
    
}

.container_button{
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

.h3_home{
    font-size: 25px;
}

.p_check2{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: white;
}

.container_home2{
    padding-top: 4rem;
    display: flex;
    justify-content: center;
}